.heading {
    font-size: 36px;
}
form {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 72px;
    margin-top: 10px;
    justify-content: space-between;
}
form input {
    margin-bottom: 6px;
    font-size: 14px;
    padding: 5px;
    border-radius: 13px;
    border: 1px solid gray;
}
.btn {
    width: 70px;
    padding: 3px;
    margin-top: 30px;
    background-color: rgb(226, 198, 73);
    border: none;
    border-radius: 13px;
    font-weight: bold;  
    color: rgb(54, 54, 47);
    font-weight: 400;
}